.interest {
    border: 1px dotted crimson;
    padding: 1em;
    margin: 0.5em;
}

.bio__interests {
    display: flex; /* Display the child items in a Flex layout instead of just across the top*/
    flex-wrap: wrap; /* Let the rows wrap if there are too many */
    justify-content: space-evenly; /* Evenly space the child elements */
}

.interest {
    border: 1px dotted crimson;
    padding: 1em;
    margin: 0.5em;
    text-align: center; /* Center align the text in the boxes */
}

.pageHeader {
    text-align: center;
    margin: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px dotted black;
    width: 25%;
}

.career-info {
    text-align: center;
    text-emphasis: bold;
}

.image {
    text-align: center;
}